[Unit]
Description=Zope ZEO Server

# After=docker.service
# Requires=docker.service

[Service]
User=zope
Group=zope
Restart=always

Environment="INSTANCE_HOME=/path/to/instance_home"
Environment="DOCKER_IMAGE=localhost/zms DOCKER_TAG=latest"

TimeoutStartSec=0
PrivateTmp=true

ExecStartPre=-/usr/bin/podman stop $DOCKER_IMAGE
# TODO add zeo run command
# TODO find a way to parametrize the zeo port or use a file based socket
ExecStart=/usr/bin/podman run --rm --name $DOCKER_IMAGE $DOCKER_IMAGE:$DOCKER_TAG

[Install]
WantedBy=multi-user.target
WantedBy=zms.target
