version: '3.7'
# https://stackoverflow.com/questions/40373400/docker-compose-yml-for-elasticsearch-and-kibana
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.14.3
    container_name: elasticsearch
    environment:
      - node.name=es-node
      - cluster.name=es-cluster
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - 9200:9200 # REST API
      - 9300:9300
    volumes:
      - ../var/elasticsearch/data:/usr/share/elasticsearch/data
    networks:
      - elastic

  kibana:
    image: docker.elastic.co/kibana/kibana:8.14.3
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - xpack.security.enabled=false
    ports:
      - 5601:5601 # Kibana UI
    depends_on:
      - elasticsearch
    restart: 'unless-stopped'
    networks:
      - elastic

  tika:
    image: apache/tika:3.1.0.0
    ports:
      - 9998:9998
    networks:
      - elastic

networks:
  elastic:
