.devcontainer
.github
.ropeproject
.vscode
build
dist
docker/variants/alpine/var
docker/variants/ubuntu/var
docker/variants/relstorage/var
docker/addons/elastic/data
docker/addons/solr/data
docker/addons/opensearch/data
docker/zeo/var
docker/zope/var
