*.egg-info/
*.pyc
Products/zms/plugins/www/zms-all.min.js
Products/zms/plugins/www/i18n/*.js
Products/zms/overrides.zcml
.vscode/
dist/
build/
docker/var/log/*
docker/var/cache/*
docker/var/Data.fs.*
docker/var/Z4.pid
docker/var/zeosocket
