.env
*.egg-info/
*.pyc
src/Products/zms/plugins/www/zms-all.min.js
src/Products/zms/plugins/www/zms-all.min.js.hash
src/Products/zms/plugins/www/i18n/*.js
src/Products/zms/overrides.zcml
Products

.vscode/

*~
.*.swp

/.idea/

dist/
build/
docker/**/var/*.*
docker/**/var/log/*.*
!docker/**/var/log/Readme.md
docker/**/Extensions/*
!docker/**/Extensions/Readme.md
docker/**/postgres/data/*
!docker/**/postgres/data/
docker/**/opensearch/data/*
!docker/**/opensearch/data/
docker/**/elastic/data/*
!docker/**/elastic/data/
/revisions.txt
