*.egg-info/
*.pyc
Products/zms/plugins/www/zms-all.min.js
Products/zms/plugins/www/zms-all.min.js.hash
Products/zms/plugins/www/i18n/*.js
Products/zms/overrides.zcml
.vscode/

*~
.*.swp

/.idea/

dist/
build/
docker/**/var/*
docker/**/Extensions/*
docker/**/postgres_data/*
/revisions.txt

