include *.txt
include AUTHORS
include CHANGES
recursive-include src *.cmd
recursive-include src *.conf
recursive-include src *.css
recursive-include src *.eot
recursive-include src *.gif
recursive-include src *.html
recursive-include src *.ico
recursive-include src *.jpg
recursive-include src *.js
recursive-include src *.json
recursive-include src *.map
recursive-include src *.md
recursive-include src *.otf
recursive-include src *.png
recursive-include src *.py
recursive-include src *.svg
recursive-include src *.swf
recursive-include src *.ttf
recursive-include src *.txt
recursive-include src *.woff
recursive-include src *.woff2
recursive-include src *.xml
recursive-include src *.zcml
recursive-include src *.zip
recursive-include src *.zpt
recursive-include src *.scss
recursive-include selenium_tests *.py
recursive-include selenium_tests *.txt
recursive-include test_output *.keep
recursive-include tests *.py
