# Get the normal set of zope dependencies first with
# $ pip install -r https://raw.githubusercontent.com/zopefoundation/Zope/zmi-bootstrap/requirements-full.txt
# Sadly this cannot be linked directly here via
# -r https://raw.githubusercontent.com/zopefoundation/Zope/zmi-bootstrap/requirements-full.txt
# as we disagree about some versions we want to install

####################################################################################################
# This file is to override zope dependency versions, add ZMS specific versions to requirements.txt #
####################################################################################################

# Need some pretty specific branches of zope and its dependencies
-e git+https://github.com/zopefoundation/Zope@zmi-bootstrap#egg=Zope

-e git+https://github.com/zopefoundation/zmi.styles@master#egg=zmi.styles
-e git+https://github.com/zopefoundation/AccessControl@zmi-bootstrap#egg=AccessControl
-e git+https://github.com/zopefoundation/Products.BTreeFolder2@zmi-bootstrap#egg=Products.BTreeFolder2
-e git+https://github.com/zopefoundation/Products.ZCatalog@zmi-bootstrap#egg=Products.ZCatalog
-e git+https://github.com/zopefoundation/Products.PythonScripts@zmi-bootstrap#egg=Products.PythonScripts

