# Python package requirements
# by ZMS core library see zms-core/requirements*.txt

# by UniBE-CMS customization layer
requests
requests-oauthlib

opensearch-py
rich
pdfminer.six

chardet
ftfy

beautifulsoup4
lxml
Markdown
pyScss
xmltodict

sqlalchemy==1.4.41
psycopg2
Products.ZMySQLDA
Products.ZSQLMethods

Products.PluggableAuthService
Products.PluginRegistry

zeo

pydevd-pycharm~=232.10227.11  # Debugger for PyCharm 2023.2.5 (Professional Edition) built on November 14, 2023
