# Python package requirements
# by ZMS core library see zms-core/requirements*.txt

# by UniBE-CMS customization layer
requests
requests-oauthlib

opensearch-py
rich

chardet
ftfy

beautifulsoup4
lxml
Markdown
pyScss
xmltodict

sqlalchemy==1.4.41
Products.ZMySQLDA
Products.ZSQLMethods

Products.PluggableAuthService
Products.PluginRegistry

zeo

pydevd-pycharm~=232.10072.31  # Debugger for PyCharm 2023.2.3 (Professional Edition) built on October 12, 2023
