# Zope + ZMS
-r requirements.txt

# Theming
-e git+https://github.com/zms-publishing/Products.zms-skins.git#egg=Products.zms-skins

# SQL
Products.ZMySQLDA
Products.SQLAlchemyDA
Products.ZSQLMethods
# 2.2 is incompatible with mariadb 5.5.68 which is installed standard on centos 7
mysqlclient<2.2

# LDAP
python-ldap
Products.LDAPMultiPlugins
Products.LDAPUserFolder

# TEXT
beautifulsoup4
lxml
Markdown
pyScss
ftfy
pdfminer.six

# PAS
Products.PluggableAuthService
Products.PluginRegistry
# -e git+https://github.com/sntl-projects/Products.zmsPluggableAuthService.git#egg=Products.zmsPluggableAuthService
