# Backports from python3, can be removed once we have migrated to py3
configparser

# Require the current development status of zope with bootstrap zmi
-r requirements-zope4-bootstrap-zmi.txt

# Additional ZMS dependencies
docutils==0.14
initgroups==4.0
mechanize==0.2.5 ## very old version
nt-svcutils==2.13.0
Products.ExternalMethod==4.0
Products.MailHost==4.1
Products.OFSP==4.0.1
Products.StandardCacheManagers==4.0.1
tempstorage==4.0.1
zLOG==3.0
zope.app.publication==4.2.1
zope.authentication==4.3
zope.error==4.4.0
zope.untrustedpython==4.0.0
ZopeUndo==4.3

# Pinned versions because of bugs:
# due to zdaemon>=4.0.1 causes AttributeError: ZopeCtlOptions instance has no attribute 'transcript'
# zdaemon==4.0.0
# zope.browserresource>4.1.0 requires zope.publisher>=4.2.1
# zope.browsermenu==4.1.0
# due to zope.publisher>=4.0.0 causes errors on rendering legacy DTML-Methods
# zope.publisher==3.13.4
# due to ZopeUndo==4.0 causes ZEO DisconnectedError on manageUndo
# ZopeUndo==2.12.0

# Unfortunately, not yet compatible with python 3
# Products.MIMETools==2.13.0


# Optional ZMS dependencies
# git+https://bitbucket.org/zms3/behave.git#egg=zms3.behave
# git+https://bitbucket.org/zms3/formulator.git#egg=zms3.formulator
# git+https://bitbucket.org/zms3/mindmap.git#egg=zms3.mindmap
# git+https://bitbucket.org/zms3/photodb.git#egg=zms3.photodb
# git+https://bitbucket.org/zms3/qrcode.git#egg=zms3.qrcode
# git+https://bitbucket.org/zms3/themes.git#egg=zms3.themes

# Unreleased branches of Zope Products
# add all zmi-bootstrap branches of dependent objects here
-e git+https://github.com/zopefoundation/Products.CMFCore@zmi-bootstrap#egg=Products.CMFCore
# 2.0 / 2.1, which is as of yet unreleased
-e git+https://github.com/zopefoundation/Products.GenericSetup@master#egg=Products.GenericSetup

# Install ZMS
# -e .
# Unfortunately this doesn't work due to https://github.com/pypa/setuptools/issues/230
# So ZMS has to be installed by hand via a symlink with something like this:
# ln -s $(pwd) $(virtualenvwrapper_get_site_packages_dir)/Products/zms
