# ZMS dependencies
# Install:
# ./pip install -r https://raw.githubusercontent.com/zms-publishing/zms4/master/requirements-dev.txt
# Modules:
# https://raw.githubusercontent.com/zopefoundation/Zope/master/requirements-full.txt
# https://raw.githubusercontent.com/zms-publishing/zms4/master/requirements-dev.txt

wheel
Zope[wsgi]
docutils
configparser
Products.GenericSetup
Products.MailHost
Products.ExternalMethod
Products.PythonScripts
Products.SiteErrorLog
Products.StandardCacheManagers
Products.TemporaryFolder
-e git+https://github.com/zopefoundation/Zope.git@master#egg=Zope
-e git+https://github.com/zms-publishing/zms4.git@master#egg=ZMS
-e git+https://github.com/zopefoundation/Products.CMFCore.git@master#egg=Products.CMFCore
-e git+https://github.com/zopefoundation/Products.Sessions.git@master#egg=Products.Sessions
