# ZMS Dependencies
wheel
Paste
docutils
configparser
Zope
Products.GenericSetup
Products.MailHost
Products.ExternalMethod
Products.CMFCore
Products.PythonScripts
Products.SiteErrorLog
Products.StandardCacheManagers
Products.Sessions
Products.TemporaryFolder
