version: "3.7"
services:
  zms5:
    build: .
    image: zms5:ubuntu
    ports:
      - 8085:8085
      - 8086:8086
      - 8080:8080
      - 5678:5678
    environment:
      - PYTHONUNBUFFERED="1"
      - CONFIG_FILE="/home/zope/venv/instance/zms5/etc/zope.ini"
      - INSTANCE_HOME="/home/zope/venv/instance/zms5"
      - CLIENT_HOME="/home/zope/venv/instance/zms5"
      - PYTHON="/home/zope/venv/bin/python"
      - SOFTWARE_HOME="/home/zope/venv/bin"
    volumes:
      - ./etc/:/home/zope/venv/instance/zms5/etc/
      - ./Extensions/:/home/zope/venv/instance/zms5/Extensions/:rw
      - ./var/:/home/zope/venv/instance/zms5/var/

    # command: /home/zope/venv/instance/zms5/etc/start.sh
